.wrapper_articles {
    padding: 25px 0 25px 0;
}

.img_logo {
    padding-left: 150px;
}

li a {
    text-decoration: none;
}

.basic_menu {
    font-family: 'Asap', sans-serif;
    font-size: 14px;
    list-style-type: none;
    display: flex;
    padding-left: 400px;
}

.bold_text {
    font-weight: bold;
    color: var(--cleanblack);
}

.basic_menu_nav {
    color: var(--cleanblack);
    margin: 30px;
}

.img_pic {
padding: 0 0 0 1350px;
}