.wrapper_articles {
    padding: 25px 0 25px 0;
}

.img_logo {
    padding-left: 150px;
}

li a {
    text-decoration: none;
}

.basic_menu {
    font-family: 'Asap', sans-serif;
    font-size: 14px;
    list-style-type: none;
    color: black;
}

.basic_menu_nav {
    color: var(--cleanblack);
}